SERVER_PORT="your_server_port"
DB_CONNECTION="your_db_connection"
DB_HOST="your_db_host"
DB_PORT="your_db_port"
DB_DATABASE="your_db"
DB_USERNAME="your_user_name"
DB_PASSWORD="your_password"
CLIENT_PORT="your_client_port"
