.filter-controls {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.filter-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

}
.month-filter select {
  padding: 8px 14px;
  border-radius: 10px;          
  border: 1px solid #555;        
  background-color: #1e1e1e;     
  color: #fff;                    
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 160px;             
}
.month-filter select:hover {
  background-color: #2a2a2a;
  border-color: #ec3d71;          
}
.month-filter select:focus {
  outline: none;
  border-color: #ec3d71;
  box-shadow: 0 0 8px rgba(236, 61, 113, 0.4);
}
.filter-sort {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}
.sort-button {
    padding: 8px 18px;
    border-radius: 10px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}
.sort-button.active {
    background-color: #ec3d71;
    border-color: #ea6cc6;
    color: #fff;
}
